*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

@font-face {
    font-weight: 800;
    font-style: normal;
    font-family: 'Gilroy';
    src: local('Gilroy ExtraBold'), url('../fonts/gilroyextrabold.woff') format('woff');
}

@font-face {
    font-weight: 300;
    font-style: normal;
    font-family: 'Gilroy';
    src: local('Gilroy Light'), url('../fonts/gilroylight.woff') format('woff');
}

@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'Open Sans';
    src: local('Open Sans Regular'), url('../fonts/opensans.woff') format('woff');
}

@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'Open Sans';
    src: local('Open Sans Light'), url('../fonts/opensanslight.woff') format('woff');
}

body {
    margin: 0;
    color: #464646;
    font-weight: 300;
    font-size: 15px;
    font-family: 'Open Sans', 'Arial', sans-serif;
    line-height: 30px;
}

.btn {
    position: relative;
    margin: 0;
    padding: 0;
    padding-top: 12px;
    padding-bottom: 12px;
    border: none;
    background-color: transparent;
    color: #000;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 18px;
    font-family: 'Gilroy ExtraBold', 'Arial', sans-serif;
    line-height: 36px;
    cursor: pointer;
}

.btn::after {
    position: absolute;
    top: 42%;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 8px;
    background-color: #f0c52e;
    content: '';
}

.user-block-btn {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    letter-spacing: 0.01em;
    cursor: pointer;
}

.user-block-link,
.good-link,
.goods-item,
.breadcrumbs-link,
.footer-user-block-link,
.social-link,
.number {
    text-decoration: none;
}


/*header*/

.header {
    position: relative;
    margin: 0 auto;
    margin-top: 40px;
    padding-right: 60px;
    padding-bottom: 44px;
    padding-left: 60px;
    width: 1160px;
    background-color: #f7e296;
}

.header-container {
    padding-top: 33px;
}

.header-userSettings {
    display: -webkit-flex;
    display:     -ms-flex;
    display:         flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 26px;
}


/*Logo*/

.header-logo {
    position: absolute;
    top: -17px;
    left: 59px;
}

.header-logo-link:hover,
.header-logo-link:focus,
.footer-logo-link:hover,
.footer-logo-link:focus {
    opacity: 0.6;
}

.header-logo-link:active,
.footer-logo-link:active {
    opacity: 0.3;
}


/*user-block*/

.user-block {
    display: -webkit-flex;
    display:     -ms-flex;
    display:         flex;
    margin: 0;
    padding: 0;

    flex-basis: 500px;
}


.user-name {
    position: relative;
    padding-right: 20px;
}

.user-block-header {
    padding-left: 1px;
}

.user-login-button-header {
    position: relative;
    margin-right: auto;
}


.user-login-button {
    padding-left: 26px;
}
.user-compare-header {
    margin-right: 39px;
    padding-left: 25px;
}

.user-basket-header {
    padding-left: 25px;
}


.user-compare-header,
.user-basket-header {
    position: relative;
}


.user-compare,
.user-basket,
.user-name {
    color: #000;
}

.search-button {
    position: absolute;
    top: -1px;
    right: 0;
    visibility: hidden;
    padding: 5px 20px;
    border: 2px solid #000;
    background-color: #f7e296;
}

.user-block,
.navigation-list,
.navigation-goods-list {
    list-style: none;
}

.search-button,
.user-block-link,
.user-login-button {
    text-transform: capitalize;
    letter-spacing: 0.01em;
    font-weight: 300;
    font-size: 15px;
    font-family: 'Open Sans', 'Arial', sans-serif;
    line-height: 36px;
}

.search-form {
    position: relative;
}


/*******SVG*********/

.user-serch-icon {
    position: absolute;
    top: 17px;
    left: 3px;
}

.user-login-icon-header {
    position: absolute;
    right: 56px;
    bottom: 11px;
    fill: #272525;
}

.user-logged-icon-header {
    top: 5px;
    right: 145px;
}

.user-compare-icon-header {
    position: absolute;
    right: 79px;
    bottom: 3px;
}

.user-compare-icon-footer {
    position: absolute;
    top: 5px;
    right: 78px;
    fill: #ffc600;
}

.user-login-icon-footer {
    position: absolute;
    top: 11px;
    right: 55px;
    fill: #ffc600;
}

.user-basket-icon-header {
    position: absolute;
    top: 5px;
    right: 70px;
}

.user-basket-icon-footer {
    position: absolute;
    top: 3px;
    right: 69px;
    fill: #ffc600;
}

.navaigation-catalog-icon {
    position: absolute;
    top: 10px;
    left: 230px;
    opacity: 0.3;
    fill: #272525;
}


/****************************************/

.input-search {
    padding: 15px 40px;
    width: 440px;
    border: none;
    background-color: #f7e296;
    opacity: 0.3;
}

.input-search:focus {
    outline: none;
    box-shadow: 0 2px 0 #000;
    opacity: 0.6;
}

.input-search:focus + .search-button {
    visibility: visible;
}

.search-button:hover {
    background-color: #000;
    color: #fff;
}

.search-button:active {
    background-color: #000;
    color: rgba(255, 255, 255, 0.3);
}

.user-block-item:hover {
    opacity: 0.6;
}

.user-block-item:active {
    opacity: 0.3;
}


/*text*/

.title {
    color: #000;
    letter-spacing: 0.01em;
    font-size: 47px;
    font-family: 'Gilroy ExtraBold', 'Arial', sans-serif;
    line-height: 36px;
}

.description {
    font-size: 15px;
    font-family: 'Open Sans', 'Arial', sans-serif;
}

.visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    border: 0;
}


/*Nav*/

.navigation {
    color: #000;
    letter-spacing: 0.2em;
    font-size: 18px;
    font-family: 'Gilroy ExtraBold', 'Arial', sans-serif;
}

.navigation-list {
    display: -webkit-flex;
    display:     -ms-flex;
    display:         flex;
    margin: 0;
    padding: 0;
}

.navigation-catalog {
    position: relative;
    margin-right: auto;
}

.navigation-catalog:hover .navigation-goods-list {
    visibility: visible;
}

.navigation-item:nth-child(2) {
    margin-right: 34px;
}

.navigation-item:nth-child(3) {
    margin-right: 105px;
}

.navigation-goods-list {
    position: absolute;
    left: -60px;
    z-index: 3;
    display: -webkit-flex;
    display:     -ms-flex;
    display:         flex;
    visibility: hidden;
    margin: 0;
    padding-top: 23px;
    padding-right: 440px;
    padding-bottom: 26px;
    padding-left: 57px;
    width: 1160px;
    background-color: #f7e296;

    align-content: center;
    flex-wrap: wrap;
}

.goods-item {
    padding-right: 10px;

    flex-basis: 33.33%;
}

.goods-item:nth-child(6) {
    flex-basis: 100%;
}

.good-link:hover {
    opacity: 0.6;
}

.navigation-button,
.footer-button {
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 18px;
    font-family: 'Gilroy ExtraBold', 'Arial', sans-serif;
    line-height: 36px;
    cursor: pointer;
}

.header::after {
    position: absolute;
    right: 460px;
    bottom: -46px;
    z-index: 1;
    display: block;
    width: 100px;
    height: 7px;
    background-color: #fff;
    content: '';
}

.navigation-button:hover,
.navigation-button:focus {
    color: #000;
    opacity: 0.6;
}

.navigation-button:active,
.navigation-button:active,
.good-link:active,
.good-link:active {
    opacity: 0.3;
}

.good-link {
    color: #000;
    letter-spacing: 0.01em;
    font-weight: 300;
    font-size: 15px;
    font-family: 'Open Sans', 'Arial', sans-serif;
    line-height: 36px;
}


/*Main*/

.slider-container,
.company-info-container,
.goods-container,
.services-slider-container,
.brands-conttainer {
    margin: 0 auto;
    width: 1160px;
}


/*slider*/

.slider {
    margin-bottom: 74px;
}

.slider-container {
    position: relative;
    width: 1160px;
    height: 520px;
    background-image: linear-gradient(#f7e296 113px, transparent 113px);
}

.slider input[type=radio] {
    display: none;
}

.slider-controls {
    position: absolute;
    top: 328px;
    right: 80px;
}

.slider-slide {
    display: -webkit-flex;
    display:     -ms-flex;
    display:         flex;
    flex-direction: column;
    padding-top: 81px;
    padding-left: 599px;
}

.slider-controls-btn {
    position: relative;
    z-index: 2;
    display: inline-block;
    margin-right: 19px;
    width: 12px;
    height: 12px;
    border: 1px solid #000;
    border-radius: 50%;
    vertical-align: top;
    cursor: pointer;
}

.slider-controls-btn:last-child {
    margin-right: 0;
}

.slider-slide {
    position: relative;
    display: none;
}

.slider-image {
    position: absolute;
}

.slider-monopod-img {
    top: 0;
    left: 90px;
}

.slider-fitness-bracelet-img {
    top: 11px;
    left: 115px;
}

.slider-quadrocopter-img {
    top: 65px;
    left: 30px;
}

.slider-slide-number {
    position: absolute;
    top: -12px;
    right: 49px;
    color: #fff;
    font-size: 179.2px;
    font-family: 'Gilroy ExtraBold', 'Arial', sans-serif;
    line-height: 179.2px;
}

.slider-title {
    z-index: 2;
    margin: 0;
    margin-bottom: 20px;
    font-size: 47px;
    line-height: 56px;
}

.slider-description {
    margin: 0;
    margin-bottom: 44px;
    letter-spacing: 0.01em;
    font-size: 15px;
    line-height: 30px;
}

.slider-button {
    margin-bottom: 50px;
    padding: 2px 42px;

    align-self: flex-start;
}

#btn-1:checked ~ .slider-controls .slider-controls-btn[for='btn-1']::before,
#btn-2:checked ~ .slider-controls .slider-controls-btn[for='btn-2']::before,
#btn-3:checked ~ .slider-controls .slider-controls-btn[for='btn-3']::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 4px;
    height: 4px;
    border: 1px solid #000;
    border-radius: 50%;
    content: '';
}

#btn-1:checked ~ .slider-slides .slider-slide:nth-child(1),
#btn-2:checked ~ .slider-slides .slider-slide:nth-child(2),
#btn-3:checked ~ .slider-slides .slider-slide:nth-child(3) {
    display: flex;
}

.slider-info {
    padding-right: 100px;
    width: 100%;
}


.slider-parametrs-value {
    margin: 0;
    padding: 0;
    padding-bottom: 6px;
    width: 27.33%;
    /*width: 160px;*/
    letter-spacing: 0.01em;
    font-size: 36px;
    font-family: 'Gilroy Light', 'Arial', sans-serif;
    line-height: 43px;
}

.slider-parametrs-name {
    letter-spacing: 0.01em;
    font-weight: 300;
    font-size: 13px;
    font-family: 'Open Sans', 'Arial', sans-serif;
    line-height: 20px;
}

.slider-button:hover {
    background-color: #f0c52e;
}

.slider-button:active {
    background-color: #f0c52e;
    color: rgba(0, 0, 0, 0.3);
}


/*goods*/

.goods {
    margin-bottom: 144px;
}

.goods-container {
    width: 1160px;
}

.goods-catalog-list {
    display: -webkit-flex;
    display:     -ms-flex;
    display:         flex;
    margin: 0;
    padding: 0;
    width: 1160px;
    list-style: none;

    flex-wrap: wrap;
}

.goods-catalog-link {
    display: -webkit-flex;
    display:     -ms-flex;
    display:         flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 160px;
    color: #000;
    text-decoration: none;
    letter-spacing: 0.01em;
    font-size: 18px;
    font-family: 'Gilroy ExtraBold', 'Arial', sans-serif;
    line-height: 22px;
}

.goods-catalog-img-container {
    display: -webkit-flex;
    display:     -ms-flex;
    display:         flex;
    width: 160px;
    height: 160px;
    background-color: #f7e296;
}

.goods-catalog-item {
    margin-right: 40px;
}

.goods-catalog-item:nth-child(6n) {
    margin-right: 0;
}

.goods-catalog-item:hover .goods-catalog-img-container {
    background-color: #f0c52e;
}

.goods-catalog-img {
    margin: auto;
}

.monopod-icon {
    margin: auto auto 0;
}

.goods-catalog-item:active .goods-catalog-title,
.goods-catalog-item:active .goods-catalog-img {
    opacity: 0.3;
}

.goods-catalog-title {
    margin-top: 35px;
}


/*Service slider*/

.services-slider {
    margin-bottom: 95px;
    background: linear-gradient(to bottom, transparent 39px, #e5e5e5 39px);
}

.services-slider-container {
    display: -webkit-flex;
    display:     -ms-flex;
    display:         flex;
    height: 325px;
}

.services-slider-controls {
    position: relative;
    display: -webkit-flex;
    display:     -ms-flex;
    display:         flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    align-items: flex-start;
    padding-top: 19px;
}

.slider-input[type=radio] {
    display: none;
}

.services-slider-controls::after {
    position: absolute;
    top: -61px;
    left: 277px;
    width: 7px;
    height: 319px;
    background-color: #000;
    content: '';
    ;
}

.service-slide {
    display: none;
    height: 288px;
}

.service-slides {
    width: 100%;
}

.service-slide-1 {
    background-image: url(../img/delivery.svg);
    background-position: 678px 24px;
    background-repeat: no-repeat;
}

.service-slide-2 {
    background-image: url(../img/warranty.svg);
    background-position: 662px 0;
    background-repeat: no-repeat;
    ;
}

.service-slide-3 {
    background-image: url(../img/credit.svg);
    background-position: 654px 0;
    background-repeat: no-repeat;
}

.services-title,
.services-description {
    margin: 0;
    margin-left: 126px;
    padding: 0;
    padding-top: 18px;
    padding-bottom: 20px;
    letter-spacing: 0.01em;
}

#service-btn-1:checked ~ .service-slides .service-slide:nth-child(1),
#service-btn-2:checked ~ .service-slides .service-slide:nth-child(2),
#service-btn-3:checked ~ .service-slides .service-slide:nth-child(3) {
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
}

#service-btn-1:checked ~ .services-slider-controls label[for='service-btn-1'],
#service-btn-2:checked ~ .services-slider-controls label[for='service-btn-2'],
#service-btn-3:checked ~ .services-slider-controls label[for='service-btn-3'] {
    width: 277px;
    background-color: #000;
    color: #f7e184;
}

#service-btn-1:checked ~ .services-slider-controls label[for='service-btn-1']::before,
#service-btn-2:checked ~ .services-slider-controls label[for='service-btn-2']::before,
#service-btn-3:checked ~ .services-slider-controls label[for='service-btn-3']::before,
#service-btn-1:checked ~ .services-slider-controls label[for='service-btn-1']::after,
#service-btn-2:checked ~ .services-slider-controls label[for='service-btn-2']::after,
#service-btn-3:checked ~ .services-slider-controls label[for='service-btn-3']::after,
.service-slider-controls label:active::before {
    display: none;
}

.service-button {
    z-index: 2;
    margin-bottom: 24px;
    padding: 2px 140px 2px 22px;
    width: 160px;
}

.service-button::after {
    width: 160px;
}

.service-button:hover {
    background-color: #f0c52e;
}


/*brands-list*/

.brands {
    padding-bottom: 102px;
}

.brands-list {
    display: -webkit-flex;
    display:     -ms-flex;
    display:         flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 1160px;
    list-style: none;

    flex-wrap: wrap;
}

.brands-item {
    position: relative;
}

.brands-item-link:hover::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 260px;
    height: 100px;
    content: '';
}



.brands-item-Dji .brands-item-link:hover::before {
    background-image: url('../img/dji.jpg');
}

.brands-item-spGadgets .brands-item-link:hover::before {
    background-image: url('../img/spGadgets.jpg');
}

.brands-item-goPro .brands-item-link:hover::before {
    background-image: url('../img/goPro.jpg');
}

.brands-item-vive .brands-item-link:hover::before {
    background-image: url('../img/vive.jpg');
}


/*company-info*/

.company-info {
    margin-bottom: 85px;
}

.company-title {
    margin-bottom: 50px;
}

.contacts-title {
    margin-bottom: 49px;
}

.company-description,
.contacts-description {
    font-size: 15px;
    font-family: 'Open Sans', 'Arial', sans-serif;
    line-height: 30px;
}

.company-description {
    margin-bottom: 30px;
}

.contacts-description {
    margin-bottom: 39px;
}

.company-info-container {
    display: -webkit-flex;
    display:     -ms-flex;
    display:         flex;
    justify-content: space-between;
}

.company-title::before,
.contacts-title::before {
    position: absolute;
    top: -17px;
    left: 0;
    display: block;
    width: 80px;
    height: 7px;
    background-color: #000;
    content: '';
}

/*company-aboutUs*/

.company-aboutUs {
    flex-basis: 475px;
}

.company-aboutUs,
.contacts {
    position: relative;
}

.workingWith-list {
    margin: 0;
    margin-top: 67px;
    margin-bottom: 55px;
    padding: 0;
    padding-left: 35px;
    list-style: none;
}

.workingWith-item {
    position: relative;
    color: #000;
    letter-spacing: 0;
    font-size: 16px;
    font-family: 'Gilroy ExtraBold', 'Arial', sans-serif;
    line-height: 40px;
}

.workingWith-item::before {
    position: absolute;
    top: 15px;
    left: -34px;
    width: 8px;
    height: 8px;
    border: 2px solid #e6e6e6;
    border-radius: 50%;
    content: '';
}

.aboutUs-button {
    padding-right: 22px;
    padding-left: 22px;
}

.contacts-button {
    padding-right: 40px;
    padding-left: 40px;
}

.aboutUs-button:hover,
.aboutUs-button:focus,
.contacts-button:hover,
.contacts-button :focus {
    background-color: #f0c52e;
}

.aboutUs-button:active,
.contacts-button:active {
    background-color: #f0c52e;
    color: rgba(0, 0, 0, 0.3);
}


/*contacts*/

.contacts {
    flex-basis: 562px;
}

.contacts-description {
    letter-spacing: 0;
}

.contscts-button:hover {
    background-color: #f0c52e;
}

.contscts-button:active {
    background-color: #000;
    color: #f7e184;
}

.map_link {
    display: block;
    margin-bottom: 62px;
}


/*footer*/

.user-block-footer {
    display: -webkit-flex;
    display:     -ms-flex;
    display:         flex;
    margin: 0;
    padding: 0;
}

.user-block-item-footer {
    margin-right: 63px;
}

.user-block-item-footer:last-child {
    margin-right: 0;
}


.footer-container {
    margin: 0 auto;
    padding-top: 46px;
    width: 1160px;
}

.footer {
    padding-top: 16px;
    padding-bottom: 43px;
    padding-bottom: 45px;
    background-color: #464646;
}

.footer-top {
    display: -webkit-flex;
    display:     -ms-flex;
    display:         flex;
    justify-content: space-between;
    margin-bottom: 9px;
}

.footer-middle {
    display: -webkit-flex;
    display:     -ms-flex;
    display:         flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
}

.footer-services {
    display: -webkit-flex;
    display:     -ms-flex;
    display:         flex;
}

.footer-button {
    margin: 0;
    margin-right: 35px;
    padding: 0;
}

.footer-button:last-child {
    margin-right: 0;
}


.footer-bottom {
    position: relative;
    display: -webkit-flex;
    display:     -ms-flex;
    display:         flex;
    align-items: center;
    justify-content: space-between;
}

.footer-bottom::before {
    position: absolute;
    top: 29px;
    width: 80px;
    height: 6px;
    background-color: #ffc600;
    content: '';
}

.footer-description {
    letter-spacing: 0;
    line-height: 30px;
}

.user-login-button-footer,
.footer-user-block-link {
    position: relative;
}

.social-link,
.number,
.user-block-,
.footer-button,
.footer-user-block-link,
.footer-description,
.user-login-button-footer {
    color: #fff;
}

.footer-button:hover,
.footer-button:active {
    opacity: 0.6;
}

.footer-button:active {
    opacity: 0.3;
}

.copyright-link:hover,
.copyright-link:focus {
    opacity: 0.6;
}

.copyright-link:active {
    opacity: 0.3;
}

.social-list {
    display: -webkit-flex;
    display:     -ms-flex;
    display:         flex;
    justify-content: space-between;
    margin-left: 470px;
}

.social-item {
    margin-right: 22px;
}

.social-item:last-child {
    margin-right: 0;
}

.social-img {
    opacity: 0.3;
}

.social-img:hover,
.social-img:focus {
    opacity: 1;
}

.social-img:active {
    opacity: 0.1;
}


/*Modal window*/

.modal-close {
    position: absolute;
    top: 25px;
    right: 23px;
    width: 55px;
    height: 55px;
    border: none;
    background-color: transparent;
    background-image: url(../img/modal-close.svg);
    opacity: 0.5;
    cursor: pointer;
}

.modal-close:hover {
    opacity: 1;
}

.modal-close:active {
    opacity: 0.3;
}

.modal-feedback {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 10;
    display: -webkit-flex;
    display:     -ms-flex;
    display:         flex;
    align-items: center;
    padding-top: 78px;
    padding-right: 100px;
    padding-left: 100px;
    width: 960px;
    background-color: #fff;
    box-shadow: 0 10px 20px rgba(4, 6, 6, 0.2);
    transform: translate(-50%, -50%);
}


.modal-input-write {
    margin-top: 12px;
    margin-bottom: 32px;
    padding-top: 15px;
    padding-left: 17px;
    width: 760px;
    height: 160px;
    border: none;
    background-color: #f2f2f2;
    letter-spacing: 0;
    font-size: 14px;
    font-family: 'Open Sans Regular', 'Arial', sans-serif;
    line-height: 18px;
    resize: none;
}

.feedback-top {
    display: -webkit-flex;
    display:     -ms-flex;
    display:         flex;
    justify-content: space-between;
    padding-top: 20px;
}

.modal-form {
    color: #000;
    letter-spacing: 0;
    font-size: 18px;
    font-family: 'Gilroy ExtraBold', 'Arial', sans-serif;
    line-height: 18px;
}

.modal-label {
    width: calc(50% - 20px);
}


.modal-input {
    margin-top: 6px;
    margin-bottom: 40px;
    padding: 16px 18px;
    width: 100%;
    border: none;
    background-color: #f2f2f2;
    letter-spacing: 0;
    font-size: 14px;
    font-family: 'Open Sans Regular', 'Arial', sans-serif;
    line-height: 18px;
}

.feedback-button {
    margin-bottom: 81px;
    padding: 0;
    padding-right: 32px;
    padding-left: 32px;
}

.modal-input:hover,
.modal-input-write {
    outline-color: none;
}

.modal-input:focus,
.modal-input-write:focus {
    outline: 2px solid #f7e296;
}

.feedback-button:hover,
.feedback-button:active {
    background-color: #f0c52e;
}

.feedback-button:active {
    color: rgba(0, 0, 0, 0.3);
}


/*Catalog */


.user-login-button-out {
    opacity: 0.3;
}

.catalog-container {
    display: -webkit-flex;
    display:     -ms-flex;
    display:         flex;
    justify-content: center;
}

.catalog-filter-title {
    color: #000;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 16px;
    font-family: 'Gilroy ExtraBold', 'Arial', sans-serif;
    line-height: 36px;
}

.filter-title {
    letter-spacing: 0.01em;
    font-size: 18px;
    font-family: 'Gilroy ExtraBold', 'Arial', sans-serif;
    line-height: 36px;
}

.filter-color-title {
    letter-spacing: 0.01;
    font-weight: 300;
    font-size: 14px;
    font-family: 'Open Sans', 'Arial', sans-serif;
    line-height: 40px;
}

.button-filter:hover,
.button-filter:focus {
    background-color: #f0c52e;
}

.button-filter:active {
    color: rgba(0, 0, 0, 0.3);
}


/*breadcrumbs*/

.breadcrumbs {
    display: -webkit-flex;
    display:     -ms-flex;
    display:         flex;
    margin: 0;
    padding: 0;
    padding-left: 61px;
    list-style: none;
}

.breadcrumbs-link {
    padding-right: 36px;
    letter-spacing: 0.01em;
    font-size: 14px;
    font-family: 'Open Sans', 'Arial', sans-serif;
    line-height: 36px;
}

.breadcrumbs-link {
    opacity: 0.3;
}

.breadcrumbs-link:hover,
.breadcrumbs-link:focus {
    opacity: 0.6;
}

.breadcrumbs-link:active {
    opacity: 0.1;
}


/*catalog-top*/

.catalog-top {
    margin: 0 auto;
    margin-top: 42px;
    width: 1160px;
}

.catalog-title {
    margin: 0;
    margin-bottom: 27px;
    padding: 0;
    padding-left: 61px;
}


/*catalog-left*/

.catalog-left {
    /*padding-left: 200px;*/
    background-color: #eee;

    flex-basis: 330px;
}

.catalog-filter {
    background-color: #dbdbdb;
}


/*catalog-right*/

.catalog-right {
    /*padding-right: 140px;*/
    flex-basis: 830px;
}

.catalog-sort {
    display: -webkit-flex;
    display:     -ms-flex;
    display:         flex;
    background-color: #ebebeb;
}

.sort-btn {
    letter-spacing: 0;
    font-weight: 800;
    font-size: 14px;
    font-family: 'Open Sans', 'Arial', sans-serif;
    line-height: 18px;
    opacity: 0.3;
}

.sort-btn:hover,
.sort-btn:focus {
    opacity: 0.6;
}

.sort-btn:active {
    opacity: 1;
}

.sort-btn-active {
    opacity: 1;
}

.catalog-list {
    display: -webkit-flex;
    display:     -ms-flex;
    display:         flex;
    list-style: none;

    flex-wrap: wrap;
}

.catalog-item:nth-child(odd) {
    margin-right: 40px;
}


/*Item*/

.catalog-item {
    width: 360px;
}

.item-name {
    color: #000;
    letter-spacing: 0.01em;
    font-size: 18px;
    font-family: 'Gilroy ExtraBold', 'Arial', sans-serif;
    line-height: 36px;
}

.item-price-value {
    color: #464646;
    letter-spacing: 0.01em;
    font-size: 16px;
    font-family: 'Gilroy Light', 'Arial', sans-serif;
    line-height: 1.2;
}


/*shape*/

.shape-toBasket-button:hover,
.shape-toBasket-button:focus {
    background-color: #f0c52e;
}

.shape-toBasket-button:active {
    color: rgba(0, 0, 0, 0.3);
}

.shape-compare {
    letter-spacing: 0.01em;
    font-weight: 300;
    font-size: 13px;
    font-family: 'Open Sans Light', 'Arial', sans-serif;
    line-height: 36px;
    opacity: 0.5;
}

.shape-compare:hover,
.shape-compare:focus {
    opacity: 1;
}

.shape-compare:active {
    opacity: 0.2;
}


/*catalog-paginator*/

.catalog-paginator {
    display: -webkit-flex;
    display:     -ms-flex;
    display:         flex;
    align-items: center;
    justify-content: center;
}

.paginator-page-btn {
    color: #000;
    letter-spacing: 0.02em;
    font-size: 16px;
    font-family: 'Gilroy ExtraBold', 'Arial', sans-serif;
    line-height: 36px;
}

.paginator-page-btn:hover,
.paginator-page-btn:focus {
    background-color: #d9d9d9;
}

.paginator-page-btn:active {
    opacity: 0.3;
}

.paginator-page {
    opacity: 0.3;
}

.paginator-page-active {
    opacity: 1;
}

.paginator-page:hover,
.paginator-page:focus {
    background-color: #d9d9d9;
}
