@font-face {
    font-style: normal;
    font-family: 'Gilroy';
    src: local('Gilroy ExtraBold'), url('../fonts/gilroyextrabold.woff') format('woff');
}

@font-face {
    font-style: normal;
    font-family: 'Gilroy';
    src: local('Gilroy Light'), url('../fonts/gilroylight.woff') format('woff');
}

@font-face {
    font-style: normal;
    font-family: 'Open Sans';
    src: local('Open Sans Regular'), url('../fonts/opensans.woff') format('woff');
}

@font-face {
    font-style: normal;
    font-family: 'Open Sans';
    src: local('Open Sans Light'), url('../fonts/opensanslight.woff') format('woff');
}

body {
    margin: 0;
    color: #464646;
    font-weight: 300;
    font-size: 15px;
    font-family: 'Open Sans', 'Arial', sans-serif;
    line-height: 30px;
}

.btn {
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 18px;
    font-family: 'Gilroy ExtraBold';
    line-height: 36px;
}

.user-block-link,
.good-link,
.goods-item,
.breadcrumbs-link,
.footer-user-block-link,
.social-link,
.number {
    text-decoration: none;
}

/*header*/

.header {
    background-color: #f7e296;
}


/*Logo*/

.header-logo-link:hover,
.header-logo-link:focus,
.footer-logo-link:hover,
.footer-logo-link:focus {
    opacity: 0.6;
}

.header-logo-link:active,
.footer-footer-link:active {
    opacity: 0.3;
}


/*user-block*/

.user-block,
.navigation-list,
.navigation-goods-list {
    list-style: none;
}

.search-button,
.user-block-link,
.user-login-button {
    text-transform: capitalize;
    letter-spacing: 0.01em;
    font-weight: 300;
    font-size: 15px;
    font-family: 'Open Sans';
    line-height: 36px;
}

.input-search {
    background-color: #f7e296;
    opacity: 0.3;
}

.input-search:hover {
    opacity: 0.6;
}

.search-button:hover {
    background-color: #000;
    color: #fff;
}

.search-button:active {
    background-color: #000;
    color: rgba(255, 255, 255, 0.3);
}

.user-block-link:hover {
    opacity: 0.6;
}

.user-block-link:active {
    opacity: 0.3;
}


/*text*/

.title {
    color: #000;
    letter-spacing: 0.01em;
    font-size: 47px;
    font-family: 'Gilroy ExtraBold';
    line-height: 36px;
}

.description {
    font-size: 15px;
    font-family: 'Open Sans';
}

.visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    border: 0;
}


/*Nav*/

.navigation {
    color: #000;
    letter-spacing: 0.2em;
    font-size: 18px;
    font-family: 'Gilroy ExtraBold';
}

.navigation-catalog {
    text-transform: uppercase;
}

.good-link {
    text-transform: capitalize;
}

.good-link:hover {
    opacity: 0.6;
}

.navigation-button {
    color: #000;
}

.navigation-button:hover,
.navigation-button:focus {
    color: #000;
    opacity: 0.6;
}

.navigation-button:active,
.navigation-button:active,
.good-link:active,
.good-link:active {
    opacity: 0.3;
}


/* nav */

.good-link {
    color: #000;
    letter-spacing: 0.01em;
    font-size: 15px;
    font-family: 'Open Sans Light';
    line-height: 36px;
}


/*slider*/

.slider-parametrs-value {
    letter-spacing: 0.01em;
    font-size: 36px;
    font-family: 'Gilroy Light';
    line-height: 36px;
}

.slider-parametrs-name {
    letter-spacing: 0.01em;
    font-weight: 300;
    font-size: 13px;
    font-family: 'Open Sans';
    line-height: 20px;
}

.slider-button:hover {
    background-color: #f0c52e;
}

.slider-button:active {
    background-color: #f0c52e;
    color: rgba(0, 0, 0, 0.3);
}


/*goods*/

.goods-item {
    color: #000;
    letter-spacing: 0.01em;
    font-size: 18px;
    font-family: 'Gilroy ExtraBold';
    line-height: 36px;
}

.goods-item:active {
    opacity: 0.3;
}


/*Service slider*/

.services-slider {
    background-color: #e5e5e5;
}

.service-button:hover {
    background-color: #f0c52e;
}

.service-button:active {
    background-color: #000;
    color: #f7e184;
}


/*company-aboutUs*/
.workingWith-list {
    list-style: none;
}

.workingWith-item {
    color: #000;
    letter-spacing: 0;
    font-size: 16px;
    font-family: 'Gilroy ExtraBold';
    line-height: 40px;
}

.company-description {
    letter-spacing: 0;
}

.aboutUs-button:hover {
    background-color: #f0c52e;
}

.aboutUs-button:active {
    background-color: #000;
    color: #f7e184;
}


/*contacts*/

.contacts-description {
    letter-spacing: 0;
}

.contscts-button:hover {
    background-color: #f0c52e;
}

.contscts-button:active {
    background-color: #000;
    color: #f7e184;
}


/*footer*/

.footer {
    background-color: #464646;
}

.social-link,
.number,
.user-block-,
.footer-button,
.footer-user-block-link {
    color: #fff;
}

.footer-button:hover,
.footer-button:active {
    opacity: 0.6;
}

.footer-button:active {
    opacity: 0.3;
}

.copyright-link:hover,
.copyright-link:focus {
    opacity: 0.6;
}

.copyright-link:active {
    opacity: 0.3;
}


/*Modal window*/

.modal-window {
    color: #000;
    letter-spacing: 0;
    font-size: 18px;
    font-family: 'Gilroy ExtraBold';
    line-height: 18px;
}

.modal-input {
    background-color: #f2f2f2;
}

.modal-input:hover {
    outline-color: none;
}

.modal-input:focus {
    outline-color: #f7e296;
}

.feedback-button:hover,
.feedback-button:active {
    background-color: #f0c52e;
}

.feedback-button:hover {
    color: rgba(0, 0, 0, 0.3);
}


/*Catalog */

.catalog-filter-title {
    color: #000;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 16px;
    font-family: 'Gilroy ExtraBold';
    line-height: 36px;
}

.filter-title {
    letter-spacing: 0.01em;
    font-size: 18px;
    font-family: 'Gilroy ExtraBold';
    line-height: 36px;
}

.filter-color-title {
    letter-spacing: 0.01;
    font-weight: 300;
    font-size: 14px;
    font-family: 'Open Sans';
    line-height: 40px;
}

.button-filter:hover,
.button-filter:focus {
    background-color: #f0c52e;
}

.button-filter:active {
    color: rgba(0, 0, 0, 0.3);
}


/*breadcrumbs*/

.breadcrumbs-link {
    opacity: 0.3;
}

.breadcrumbs-link:hover,
.breadcrumbs-link:focus {
    opacity: 0.6;
}

.breadcrumbs-link:active {
    opacity: 0.1;
}


/*catalog-left*/

.catalog-left {
    background-color: #eee;
}

.catalog-filter {
    background-color: #dbdbdb;
}


/*catalog-right*/

.catalog-sort {
    background-color: #ebebeb;
}

.sort-btn {
    letter-spacing: 0;
    font-weight: 800;
    font-size: 14px;
    font-family: 'Open Sans';
    line-height: 18px;
    opacity: 0.3;
}

.sort-btn:hover,
.sort-btn:focus {
    opacity: 0.6;
}

.sort-btn:active {
    opacity: 1;
}

.sort-btn-active {
    opacity: 1;
}


/*Item*/

.item-name {
    color: #000;
    letter-spacing: 0.01em;
    font-size: 18px;
    font-family: 'Gilroy ExtraBold';
    line-height: 36px;
}

.item-price-value {
    color: #464646;
    letter-spacing: 0.01em;
    font-size: 16px;
    font-family: 'Gilroy Light';
    line-height: 1.2;
}


/*shape*/

.shape-toBasket-button:hover,
.shape-toBasket-button:focus {
    background-color: #f0c52e;
}

.shape-toBasket-button:active {
    color: rgba(0, 0, 0, 0.3);
}

.shape-compare {
    letter-spacing: 0.01em;
    font-weight: 300;
    font-size: 13px;
    font-family: 'Open Sans';
    line-height: 36px;
    opacity: 0.5;
}

.shape-compare:hover,
.shape-compare:focus {
    opacity: 1;
}

.shape-compare:active {
    opacity: 0.2;
}


/*catalog-paginator*/

.paginator-page-btn {
    color: #000;
    letter-spacing: 0.02em;
    font-size: 16px;
    font-family: 'Gilroy ExtraBold';
    line-height: 36px;
}

.paginator-page-btn:hover,
.paginator-page-btn:focus {
    background-color: #d9d9d9;
}

.paginator-page-btn:active {
    opacity: 0.3;
}

.paginator-page {
    opacity: 0.3;
}

.paginator-page-active {
    opacity: 1;
}

.paginator-page:hover,
.paginator-page:focus {
    background-color: #d9d9d9;
}
